.header-container{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.detalle-container {
    padding: 1.5rem;
    background-color: #f7f9fc;
    border-radius: 8px;
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.card1{
    width: 49%;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align:start;
}

span{
    text-align:start;
}

.greatContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-bottom: 20pX;
}


.greatContainer2 {
    padding-bottom: 20pX;
}
 /*textos con valores cargados desde base de datos*/
.dataValue {
    font-weight: bold;
    font-size: 1.2rem;
}

.btn {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: #03A9F5;
}

.btn-danger {
    background-color: #ffdddd;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.btn-primary {
    background-color: #00aaff;
    color: white;
    border: none;
}
