/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-6o9o6c695x] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6o9o6c695x] {
    flex: 1;
}

.sidebar[b-6o9o6c695x] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6o9o6c695x] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6o9o6c695x]  a, .top-row[b-6o9o6c695x]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-6o9o6c695x]  a:hover, .top-row[b-6o9o6c695x]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-6o9o6c695x]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-6o9o6c695x] {
        justify-content: space-between;
    }

        .top-row[b-6o9o6c695x]  a, .top-row[b-6o9o6c695x]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-6o9o6c695x] {
        flex-direction: row;
    }

    .sidebar[b-6o9o6c695x] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6o9o6c695x] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-6o9o6c695x]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-6o9o6c695x], article[b-6o9o6c695x] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-2ofgmhrn3c] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-2ofgmhrn3c] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-2ofgmhrn3c] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2ofgmhrn3c] {
    font-size: 1.1rem;
}

.bi[b-2ofgmhrn3c] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-2ofgmhrn3c] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-2ofgmhrn3c] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-2ofgmhrn3c] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-2ofgmhrn3c] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2ofgmhrn3c] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2ofgmhrn3c] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2ofgmhrn3c]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-2ofgmhrn3c]  a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item[b-2ofgmhrn3c]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.nav-scrollable[b-2ofgmhrn3c] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-2ofgmhrn3c] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2ofgmhrn3c] {
        display: none;
    }

    .nav-scrollable[b-2ofgmhrn3c] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Pages/DetalleProducto.razor.rz.scp.css */
.header-container[b-z9yjfxairq]{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.detalle-container[b-z9yjfxairq] {
    padding: 1.5rem;
    background-color: #f7f9fc;
    border-radius: 8px;
}

.card[b-z9yjfxairq] {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.card1[b-z9yjfxairq]{
    width: 49%;
}

.card-container[b-z9yjfxairq]{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align:start;
}

span[b-z9yjfxairq]{
    text-align:start;
}

.greatContainer[b-z9yjfxairq]{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-bottom: 20pX;
}


.greatContainer2[b-z9yjfxairq] {
    padding-bottom: 20pX;
}
 /*textos con valores cargados desde base de datos*/
.dataValue[b-z9yjfxairq] {
    font-weight: bold;
    font-size: 1.2rem;
}

.btn[b-z9yjfxairq] {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: #03A9F5;
}

.btn-danger[b-z9yjfxairq] {
    background-color: #ffdddd;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.btn-primary[b-z9yjfxairq] {
    background-color: #00aaff;
    color: white;
    border: none;
}

/* Responsive general: celulares hasta 768px */
@media (max-width: 768px) {
    .header-container[b-z9yjfxairq] {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding-bottom:20px;
    }

    .greatContainer[b-z9yjfxairq] {
        flex-direction: column;
        gap: 1rem;
    }

    .card1[b-z9yjfxairq] {
        width: 100%;
    }

    .card-container[b-z9yjfxairq] {
        flex-direction: row;
        gap: 1rem;
    }

    .greatContainer2[b-z9yjfxairq] {
        flex-direction: column;
        gap: 1rem;
    }

    .btn[b-z9yjfxairq] {
        width: 100%;
        text-align: center;
    }

    .flex.justify-between[b-z9yjfxairq] {
        flex-direction: column;
        gap: 1rem;
    }
}

/* Responsive general: celulares hasta 480px */
@media (max-width: 380px) {
    .card-container[b-z9yjfxairq] {
        flex-direction: column;
        gap: 1rem;
    }

}

/*Estilos del Modal para eliminar*/
.modal-overlay[b-z9yjfxairq] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content[b-z9yjfxairq] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
}
/* /Components/Pages/Inventario.razor.rz.scp.css */
.inventory-container[b-fdqakp6o8s] {
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f6f9;
    height: 100vh; /* o usa min-height si tienes scroll */
    box-sizing: border-box;
}

/*Cabezera de la interfaz*/
.header[b-fdqakp6o8s] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title-section h3[b-fdqakp6o8s] {
    margin: 0;
    font-size: 20px;
}

.title-section p[b-fdqakp6o8s] {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #6b7280;
}

.gray-text[b-fdqakp6o8s] {
    color: #9ca3af;
}

.btn-add[b-fdqakp6o8s] {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

/*Contenedor de barra de búsqueda y combobox de filtro de categorías*/
.search-filter-bar[b-fdqakp6o8s] {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-box[b-fdqakp6o8s] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}

.category-select[b-fdqakp6o8s] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    background-color: white;
}

.medicine-table[b-fdqakp6o8s] {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

    .medicine-table th[b-fdqakp6o8s],
    .medicine-table td[b-fdqakp6o8s] {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #e5e7eb;
    }

    .medicine-table th[b-fdqakp6o8s] {
        background-color: #f9fafb;
        font-weight: 600;
        font-size: 14px;
    }

.view-link[b-fdqakp6o8s] {
    color: #2563eb;
    font-weight: 500;
    text-decoration: none;
}

/*Estilos para el componente de paginación de datos*/
.pagination[b-fdqakp6o8s] {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.page-controls[b-fdqakp6o8s] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn[b-fdqakp6o8s] {
    background-color: white;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

/*Responsive mobile*/
@media (max-width: 768px) {
    .header[b-fdqakp6o8s] {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .btn-add[b-fdqakp6o8s] {
        width: 100%;
        text-align: center;
    }

    .search-filter-bar[b-fdqakp6o8s] {
        flex-direction: column;
        gap: 10px;
    }

        .search-filter-bar input[b-fdqakp6o8s],
        .search-filter-bar button[b-fdqakp6o8s],
        .category-select[b-fdqakp6o8s] {
            width: 100%;
        }

    .page-controls[b-fdqakp6o8s] {
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .pagination[b-fdqakp6o8s]{
            flex-direction:column;
        }

    .pagination span[b-fdqakp6o8s]{
        text-align:center;
    }

}

/* /Components/Pages/UiProductos/ActualizarProducto.razor.rz.scp.css */
.form-container[b-lk1h9g9be5] {
    padding: 2rem;
    background-color: #edf0f3;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.form-header[b-lk1h9g9be5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.breadcrumbs[b-lk1h9g9be5] {
    font-size: 1.1rem;
    color: #333;
}

    .breadcrumbs .title[b-lk1h9g9be5] {
        font-weight: 700;
        font-size: 1.3rem;
        margin-left: 0.5rem;
    }

.btn-actualizar[b-lk1h9g9be5] {
    background-color: #e74c3c;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-guardar:hover[b-lk1h9g9be5] {
        background-color: #c0392b;
    }

.note[b-lk1h9g9be5] {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.2rem;
}

.form-flex[b-lk1h9g9be5] {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-group[b-lk1h9g9be5] {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    width: 100%;
}

    .form-group.full-width[b-lk1h9g9be5] {
        flex: 1 1 100%;
    }

    .form-group label[b-lk1h9g9be5] {
        margin-bottom: 0.4rem;
        font-weight: 500;
        color: #333;
    }

    .form-group input[b-lk1h9g9be5],
    .form-group select[b-lk1h9g9be5],
    .form-group textarea[b-lk1h9g9be5] {
        padding: 0.6rem;
        border: 1px solid #c7d0da;
        border-radius: 6px;
        background-color: #dce3eb;
        font-size: 1rem;
        color: #333;
        resize: none;
    }

/*Estilos para el componente de paginación de datos*/
.pagination[b-lk1h9g9be5] {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-bottom: 20px;
}

.page-controls[b-lk1h9g9be5] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn[b-lk1h9g9be5] {
    background-color: white;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}


/*Estilos para mensaje de error*/

.alert-error[b-lk1h9g9be5] {
    position: absolute;
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadein-b-lk1h9g9be5 0.3s ease-in-out;
}

    .alert-error button[b-lk1h9g9be5] {
        background: transparent;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

@keyframes fadein-b-lk1h9g9be5 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Estilos para mensaje de éxito*/
.alert-success[b-lk1h9g9be5] {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadein-b-lk1h9g9be5 0.3s ease-in-out;
}

    .alert-success button[b-lk1h9g9be5] {
        background: transparent;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

@keyframes fadein-b-lk1h9g9be5 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*Modal para mostrar y seleccionar las categorías y laboratorios*/
.modal-backdrop[b-lk1h9g9be5] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content[b-lk1h9g9be5] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.row-flex[b-lk1h9g9be5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

#btnMobile[b-lk1h9g9be5]{
    display:none;
}

/*Responsive mobile*/
@media (max-width: 768px) {
    .form-header[b-lk1h9g9be5] {
        flex-direction: column;
    }

    .breadcrumbs[b-lk1h9g9be5] {
        padding-bottom: 20px;
    }

    
        .form-flex[b-lk1h9g9be5] {
            flex-direction: column;
        }

        .form-group[b-lk1h9g9be5] {
            flex: 1 1 100%;
            width: 100%;
        }
    

    .form-group input[b-lk1h9g9be5],
    .form-group select[b-lk1h9g9be5],
    .form-group textarea[b-lk1h9g9be5] {
        width: 100%;
    }

    .btn-actualizar[b-lk1h9g9be5]{
        display:none;
    }

    #btnMobile[b-lk1h9g9be5]{
        display:block;
    }

}
/* /Components/Pages/UiProductos/CrearProducto.razor.rz.scp.css */
.form-container[b-7ubq3svegt] {
    padding: 2rem;
    background-color: #edf0f3;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 100%; /* o usa min-height si tienes scroll */
    box-sizing: border-box;
    margin: 0 auto;
}

.form-header[b-7ubq3svegt] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.breadcrumbs[b-7ubq3svegt] {
    font-size: 1.1rem;
    color: #333;
}

    .breadcrumbs .title[b-7ubq3svegt] {
        font-weight: 700;
        font-size: 1.3rem;
        margin-left: 0.5rem;
    }

.btn-guardar[b-7ubq3svegt] {
    background-color: #e74c3c;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-guardar:hover[b-7ubq3svegt] {
        background-color: #c0392b;
    }

.note[b-7ubq3svegt] {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.2rem;
}

.form-flex[b-7ubq3svegt] {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-group[b-7ubq3svegt] {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    width:100%;
}

    .form-group.full-width[b-7ubq3svegt] {
        flex: 1 1 100%;
    }

    .form-group label[b-7ubq3svegt] {
        margin-bottom: 0.4rem;
        font-weight: 500;
        color: #333;
    }

    .form-group input[b-7ubq3svegt],
    .form-group select[b-7ubq3svegt],
    .form-group textarea[b-7ubq3svegt] {
        padding: 0.6rem;
        border: 1px solid #c7d0da;
        border-radius: 6px;
        background-color: #dce3eb;
        font-size: 1rem;
        color: #333;
        resize: none;
    }

/*Estilos para el componente de paginación de datos*/
.pagination[b-7ubq3svegt] {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-bottom:20px;
}

.page-controls[b-7ubq3svegt] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn[b-7ubq3svegt] {
    background-color: white;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

    /*Estilos para mensaje de error*/

.alert-error[b-7ubq3svegt] {
    position:absolute;
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadein-b-7ubq3svegt 0.3s ease-in-out;
}

    .alert-error button[b-7ubq3svegt] {
        background: transparent;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

@keyframes fadein-b-7ubq3svegt {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Estilos para mensaje de éxito*/
.alert-success[b-7ubq3svegt] {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadein-b-7ubq3svegt 0.3s ease-in-out;
}

    .alert-success button[b-7ubq3svegt] {
        background: transparent;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

@keyframes fadein-b-7ubq3svegt {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Modal para mostrar y seleccionar las categorías y laboratorios*/
.modal-backdrop[b-7ubq3svegt] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content[b-7ubq3svegt] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.row-flex[b-7ubq3svegt] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

#btnMobile[b-7ubq3svegt] {
    display: none
}

/*Responsive mobile*/
@media (max-width: 768px) {
    .form-header[b-7ubq3svegt]{
        flex-direction:column;
    }

    .breadcrumbs[b-7ubq3svegt] {
        padding-bottom: 20px;
    }

    .form-header[b-7ubq3svegt] {
        flex-direction: column;
    }

    .breadcrumbs[b-7ubq3svegt] {
        padding-bottom: 20px;
    }


    .form-flex[b-7ubq3svegt] {
        flex-direction: column;
    }

    .form-group[b-7ubq3svegt] {
        flex: 1 1 100%;
        width: 100%;
    }


        .form-group input[b-7ubq3svegt],
        .form-group select[b-7ubq3svegt],
        .form-group textarea[b-7ubq3svegt] {
            width: 100%;
        }

        .btn-guardar[b-7ubq3svegt]{
            display:none;
        }

        #btnMobile[b-7ubq3svegt]{
            display:block;
        }
}
